body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

header {
  background-color: #0a192f;
  color: white;
  padding: 40px;
  text-align: center;
}

img {
  border-radius: 50%;
  margin-top: 10px;
}

section {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  border-radius: 10px;
}


h1 {
  margin-bottom: 5px;
}

h2 {
  color: #0a192f;
}
h3 {
  margin-top: 20px;
  color: #1f3c88;
}


ul {
  padding-left: 20px;
}
@media (max-width: 600px) {

  header {
    padding: 25px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p, li {
    font-size: 16px;
  }

  img {
    width: 120px;
  }
}
